html {
  --scrollbarBG: #3f3f3f;
  --thumbBG: #bebebe;
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 0 solid var(--scrollbarBG);
}
.divider {
    margin: 1em 0 1.25em;
    max-width: 2rem;
}
#side-by-side {
    float: right;
}
#inline-block {
    display:inline-block;
}
.boxes {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill,minmax(15rem,1fr));
}
.swatch {
    display: block;
    padding: 1em;
    font-weight: 500;
    font-size: 0.875rem;
}
.palette {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(7.5rem, 1fr));
}
form>*>label {
  color:white;
}
form>*>input {
  color:black;
}
table>*,th,td {
  background-color: black;
  border: 1px solid black;
}
#c {
  padding: 0;
  height: 45%;
  width: 45%;
  float: right;
  padding-left:0;
}
@media (max-width:640px) {
  #c {
    height: 45%;
    width: 100%;
    float: left;
  }
}
#d {
  padding:0;
  width: 40%;
  float: right;
  padding-left:0em;
  border-bottom: 9em;
}
.shadowed {
  box-shadow: 0 0 20px black;
}
.sponsor {
  max-height: 3.5em;

}
hr.divider {
  margin:0;
}
.e {
  border-color:black;
}
td {
  max-width: 12em;
}
.glow {
  text-decoration: none;
  border-radius: 4px;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  padding:2%;
}
.glow:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(255, 255, 253, 0.822);
}